.App {
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}